.wpcom-migration-header {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.wpcom-migration-header__wpcom-logo span {
	width: 24px;
	height: 24px;
	font-size: 24px;
}

.wpcom-migration-header__blogvault-logo img {
	height: 24px;
}

.wpcom-migration-container {
	display: flex;
	margin: auto;
	max-width: 886px;
}

@media ( min-width: 961px ) {
	.wpcom-migration-container {
		padding-top: 100px;
	}
}
